.allRows {
  background: #ffffff;
  color: #000000;
}
.evenRows {
  background: #ffffff;
}
.oddRows {
  background: #d3dce9;
}
.oddHovered {
  background: #a0b4cf;
}
.evenHovered {
  background: #7e9abe;
}
.filterWidgetTransition {
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}
.iconPosition {
  font-size: 11px;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  line-height: 14px;
}
.tablesorter-dropbox {
  font: 14px "RobotoRegular" sans-serif;
  background-color: #cdcdcd;
  width: 100%;
}
.tablesorter-dropbox th,
.tablesorter-dropbox thead td {
  font: 14px bold "RobotoRegular" sans-serif;
  font-weight: bold;
  background-color: #1d293a;
  color: #e6e6e6;
  border-collapse: collapse;
  margin: 0 0 18px;
  padding: 4px;
}
.tablesorter-dropbox tbody td,
.tablesorter-dropbox tfoot th,
.tablesorter-dropbox tfoot td {
  padding: 4px;
  vertical-align: top;
}
.tablesorter-dropbox .tablesorter-header {
  cursor: pointer;
}
.tablesorter-dropbox .tablesorter-header-inner {
  position: relative;
  padding: 4px 20px 4px 4px;
}
.tablesorter-dropbox .tablesorter-header-inner i {
  font-size: 11px;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  line-height: 14px;
}
.tablesorter-dropbox .tablesorter-header.sorter-false {
  background-image: none;
  cursor: default;
}
.tablesorter-dropbox .tablesorter-headerAsc {
  background-color: #2e425c;
}
.tablesorter-dropbox .tablesorter-headerDesc {
  background-color: #2e425c;
}
.tablesorter-dropbox .bootstrap-icon-unsorted {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOBAMAAAALT/umAAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADXRSTlMA4EXKBtQqvR0+sxmalc142gAAAFdJREFUCNdjYGDoamAAAjZbMxCVfvd6AgMDd+3du9UMDKx3hWSvMjBwXZww8RYDGuC53NB8h4GB8a617UUGBs7Yu3cjGRhYVO9eVQFKOskKOQApFmUgBwBZ+xXRTttNdAAAAABJRU5ErkJggg==);
  color: #e6e6e6;
}
.tablesorter-dropbox tfoot .tablesorter-headerAsc,
.tablesorter-dropbox tfoot .tablesorter-headerDesc {
  background-image: none;
}
.tablesorter-dropbox .disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: not-allowed;
}
.tablesorter-dropbox tbody td {
  background: #fcfcfc;
  color: #000000;
  padding: 4px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgba(29, 41, 57, 0.06);
}
.tablesorter-dropbox tbody tr.odd td {
  background: #d3dce9;
}
.tablesorter-dropbox tbody tr.even td {
  background: #ffffff;
}
.tablesorter-dropbox tbody > tr:hover td,
.tablesorter-dropbox tbody > tr:hover + tr.tablesorter-childRow > td,
.tablesorter-dropbox tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.tablesorter-dropbox tbody > tr.even:hover > td,
.tablesorter-dropbox tbody > tr.even:hover + tr.tablesorter-childRow > td,
.tablesorter-dropbox tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
  background: rgba(29, 41, 57, 0.10);
}
.tablesorter-dropbox tbody > tr.odd:hover > td,
.tablesorter-dropbox tbody > tr.odd:hover + tr.tablesorter-childRow > td,
.tablesorter-dropbox tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
  background: #a0b4cf;
}
.tablesorter-dropbox .tablesorter-processing {
  background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=');
  background-position: center center;
  background-repeat: no-repeat;
}
.tablesorter-dropbox tr.odd td.primary {
  background-color: #7e9abe;
}
.tablesorter-dropbox td.primary,
.tablesorter-dropbox tr.even td.primary {
  background-color: rgba(29, 41, 57, 0.10);
}
.tablesorter-dropbox tr.odd td.secondary {
  background-color: #a0b4cf;
}
.tablesorter-dropbox td.secondary,
.tablesorter-dropbox tr.even td.secondary {
  background-color: #b1c2d8;
}
.tablesorter-dropbox tr.odd td.tertiary {
  background-color: #b1c2d8;
}
.tablesorter-dropbox td.tertiary,
.tablesorter-dropbox tr.even td.tertiary {
  background-color: #c2cfe0;
}
.tablesorter-dropbox caption {
  background: #ffffff;
}
.tablesorter-dropbox .tablesorter-filter-row input,
.tablesorter-dropbox .tablesorter-filter-row select {
  width: 98%;
  margin: 0;
  padding: 4px;
  color: #333333;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}
.tablesorter-dropbox .tablesorter-filter-row td {
  background: #1D2939;
  line-height: normal;
  text-align: center;
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}
.tablesorter-dropbox .tablesorter-filter-row.hideme td {
  padding: 2px;
  margin: 0;
  line-height: 0;
  cursor: pointer;
}
.tablesorter-dropbox .tablesorter-filter-row.hideme .tablesorter-filter {
  height: 1px;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tablesorter-dropbox .filtered {
  display: none;
}
.tablesorter-dropbox .tablesorter-errorRow td {
  text-align: center;
  cursor: pointer;
  background-color: #e6bf99;
}