<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="YTD_Last">
	{$YTD_Last_editcontrol}
	</control>
	<control 
	field="Last_Name">
	{$Last_Name_editcontrol}
	</control>
	<control 
	field="First_Name">
	{$First_Name_editcontrol}
	</control>
	<control 
	field="Active">
	{$Active_editcontrol}
	</control>
	<control 
	field="Name">
	{$Name_editcontrol}
	</control>
	<control 
	field="Budget_Year">
	{$Budget_Year_editcontrol}
	</control>
	<control 
	field="Start_Date">
	{$Start_Date_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
