<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="LMLive">
	{$LMLive_editcontrol}
	</control>
	<control 
	field="Closed">
	{$Closed_editcontrol}
	</control>
	<control 
	field="Dead">
	{$Dead_editcontrol}
	</control>
	<control 
	field="NewEl">
	{$NewEl_editcontrol}
	</control>
	<control 
	field="CurrentLive">
	{$CurrentLive_editcontrol}
	</control>
	<control 
	field="CClient">
	{$CClient_editcontrol}
	</control>
	<control 
	field="CDealtype">
	{$CDealtype_editcontrol}
	</control>
	<control 
	field="CAmount">
	{$CAmount_editcontrol}
	</control>
	<control 
	field="CSlot">
	{$CSlot_editcontrol}
	</control>
	<control 
	field="DClient">
	{$DClient_editcontrol}
	</control>
	<control 
	field="DDealtype">
	{$DDealtype_editcontrol}
	</control>
	<control 
	field="DAmount">
	{$DAmount_editcontrol}
	</control>
	<control 
	field="DSlot">
	{$DSlot_editcontrol}
	</control>
	<control 
	field="ELClinet">
	{$ELClinet_editcontrol}
	</control>
	<control 
	field="ELDealType">
	{$ELDealType_editcontrol}
	</control>
	<control 
	field="ELAmount">
	{$ELAmount_editcontrol}
	</control>
	<control 
	field="ELSlot">
	{$ELSlot_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
