<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--%%pagestyle%%-->
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
			



{BEGIN container_grid}



{BEGIN pages}
<h1>Company Report</h1>
	<span {$pages_attrs}>
		Page <b>{$pageno}</b> of <b>{$maxpages}</b>
	</span>


			<style>
table.report {border-collapse: collapse} 
table.report td {padding: 2px;border-width: 1px; border-style: solid; border-color: #cccccc;}
div.page_block{clear:left;}
td.noborder{padding-right:8px}
td.data{padding-right:8px}
td.pagesummary{background-color:#ffffbb;}
td.globalsummary{background-color:#ffe0b0;}
</style>
{BEGIN grid_block}
<div id="grid_block{$id}" class="runner-s-grid">
<TABLE class="runner-c runner-c-grid" WIDTH="auto" CELLPADDING=1 CELLSPACING=0 BORDER=0 style="border: solid; border-width: 1px; border-color: black;">
<tr class="runner-toprow style1">
<td class="runner-cc blackshade"><b>Company</b></td>
<td class="runner-cc blackshade"><b>Deal Slot</b></td>
<td class="runner-cc blackshade"><b>IBC Date</b></td>
<td class="runner-cc blackshade"><b>EL Date</b></td>
<td class="runner-cc blackshade"><b>Project Name</b></td>
<td class="runner-cc blackshade"><b>Status</b></td>
<td class="runner-cc blackshade"><b>ID</b></td>
<td class="runner-cc blackshade"><b>Deal Type</b></td>
<td class="runner-cc blackshade"><b>Projected Fee</b></td>
<td class="runner-cc blackshade"><b>Projected Transaction Size</b></td>
<td class="runner-cc blackshade"><b>Est. Close Date</b></td>
<td class="runner-cc blackshade"><b>Primary Banker</b></td>
<td class="runner-cc blackshade"><b>Practice Area</b></td>
<td class="runner-cc blackshade"><b>Ownership Class</b></td>
<td class="runner-cc blackshade"><b>Industry</b></td>
<td class="runner-cc blackshade"><b>Referral Type</b></td>
<td class="runner-cc blackshade"><b>Referral Source-Company</b></td>
<td class="runner-cc blackshade"><b>Referral Scource-Ind.</b></td>
<td class="runner-cc blackshade"><b>Description</b></td>
<td class="runner-cc blackshade"><b>Dead Date</b></td>
<td class="runner-cc blackshade"><b>EL Expiration Date</b></td>
<td class="runner-cc blackshade"><b>Engagment Fee</b></td>
<td class="runner-cc blackshade"><b>Fee Minimum</b></td>
<td class="runner-cc blackshade"><b>Final Total Sucess Fee</b></td>
<td class="runner-cc blackshade"><b>Final Transaction Size</b></td>
<td class="runner-cc blackshade"><b>Monthly Retainer</b></td>
<td class="runner-cc blackshade"><b>Closed Date</b></td>
<td class="runner-cc blackshade"><b>Team Split-1</b></td>
<td class="runner-cc blackshade"><b>Team-1</b></td>
<td class="runner-cc blackshade"><b>Team Split-2</b></td>
<td class="runner-cc blackshade"><b>Team-2</b></td>
<td class="runner-cc blackshade"><b>Team Split-3</b></td>
<td class="runner-cc blackshade"><b>Team Split-4</b></td>
<td class="runner-cc blackshade"><b>Team Split-5</b></td>
<td class="runner-cc blackshade"><b>Team Split-6</b></td>
<td class="runner-cc blackshade"><b>Team-3</b></td>
<td class="runner-cc blackshade"><b>Team-4</b></td>
<td class="runner-cc blackshade"><b>Team-5</b></td>
<td class="runner-cc blackshade"><b>Team-6</b></td>
<td class="runner-cc blackshade"><b>Fee Split-1</b></td>
<td class="runner-cc blackshade"><b>Fee Split-2</b></td>
<td class="runner-cc blackshade"><b>Fee Split-3</b></td>
<td class="runner-cc blackshade"><b>Fee Split-4</b></td>
<td class="runner-cc blackshade"><b>Fee Split-5</b></td>
<td class="runner-cc blackshade"><b>Fee Split-6</b></td>
<td class="runner-cc blackshade"><b>Fee To-1</b></td>
<td class="runner-cc blackshade"><b>Fee To-2</b></td>
<td class="runner-cc blackshade"><b>Fee To-3</b></td>
<td class="runner-cc blackshade"><b>Fee To-4</b></td>
<td class="runner-cc blackshade"><b>Fee To-5</b></td>
<td class="runner-cc blackshade"><b>Fee To-6</b></td>
<td class="runner-cc blackshade"><b>Enterpise Value</b></td>
<td class="runner-cc blackshade"><b>Fee Details</b></td>
<td class="runner-cc blackshade"><b>Split to Corporate</b></td>
<td class="runner-cc blackshade"><b>Paul</b></td>
<td class="runner-cc blackshade"><b>Mc Broom</b></td>
</tr>
{BEGIN grid_row}
<!-------------------------------------  data ----------------------------------------->
{BEGIN row_data}
<tr class="runner-row style1">
	<td class="runner-cc data">{$Company_value}</td>
	<td class="runner-cc data">{$Deal_Slot_value}</td>
	<td class="runner-cc data">{$IBC_Date_value}</td>
	<td class="runner-cc data">{$EL_Date_value}</td>
	<td class="runner-cc data">{$Project_Name_value}</td>
	<td class="runner-cc data">{$Status_value}</td>
	<td class="runner-cc data">{$ID_value}</td>
	<td class="runner-cc data">{$Deal_Type_value}</td>
	<td class="runner-cc data">{$Projected_Fee_value}</td>
	<td class="runner-cc data">{$Projected_Transaction_Size_value}</td>
	<td class="runner-cc data">{$Est__Close_Date_value}</td>
	<td class="runner-cc data">{$Primary_Banker_value}</td>
	<td class="runner-cc data">{$Practice_Area_value}</td>
	<td class="runner-cc data">{$Ownership_Class_value}</td>
	<td class="runner-cc data">{$Industry_value}</td>
	<td class="runner-cc data">{$Referral_Type_value}</td>
	<td class="runner-cc data">{$Referral_Source_Company_value}</td>
	<td class="runner-cc data">{$Referral_Scource_Ind__value}</td>
	<td class="runner-cc data">{$Description_value}</td>
	<td class="runner-cc data">{$Dead_Date_value}</td>
	<td class="runner-cc data">{$EL_Expiration_Date_value}</td>
	<td class="runner-cc data">{$Engagment_Fee_value}</td>
	<td class="runner-cc data">{$Fee_Minimum_value}</td>
	<td class="runner-cc data">{$Final_Total_Sucess_Fee_value}</td>
	<td class="runner-cc data">{$Final_Transaction_Size_value}</td>
	<td class="runner-cc data">{$Monthly_Retainer_value}</td>
	<td class="runner-cc data">{$Closed_Date_value}</td>
	<td class="runner-cc data">{$Team_Split_1_value}</td>
	<td class="runner-cc data">{$Team_1_value}</td>
	<td class="runner-cc data">{$Team_Split_2_value}</td>
	<td class="runner-cc data">{$Team_2_value}</td>
	<td class="runner-cc data">{$Team_Split_3_value}</td>
	<td class="runner-cc data">{$Team_Split_4_value}</td>
	<td class="runner-cc data">{$Team_Split_5_value}</td>
	<td class="runner-cc data">{$Team_Split_6_value}</td>
	<td class="runner-cc data">{$Team_3_value}</td>
	<td class="runner-cc data">{$Team_4_value}</td>
	<td class="runner-cc data">{$Team_5_value}</td>
	<td class="runner-cc data">{$Team_6_value}</td>
	<td class="runner-cc data">{$Fee_Split_1_value}</td>
	<td class="runner-cc data">{$Fee_Split_2_value}</td>
	<td class="runner-cc data">{$Fee_Split_3_value}</td>
	<td class="runner-cc data">{$Fee_Split_4_value}</td>
	<td class="runner-cc data">{$Fee_Split_5_value}</td>
	<td class="runner-cc data">{$Fee_Split_6_value}</td>
	<td class="runner-cc data">{$Fee_To_1_value}</td>
	<td class="runner-cc data">{$Fee_To_2_value}</td>
	<td class="runner-cc data">{$Fee_To_3_value}</td>
	<td class="runner-cc data">{$Fee_To_4_value}</td>
	<td class="runner-cc data">{$Fee_To_5_value}</td>
	<td class="runner-cc data">{$Fee_To_6_value}</td>
	<td class="runner-cc data">{$Enterpise_Value_value}</td>
	<td class="runner-cc data">{$Fee_Details_value}</td>
	<td class="runner-cc data">{$Split_to_Corporate_value}</td>
	<td class="runner-cc data">{$Paul_value}</td>
	<td class="runner-cc data">{$McBroom_value}</td>
</tr>
{END row_data}
{END grid_row}
</table>
</div>
{END grid_block}
{END pages}





{END container_grid}


	{END body}
	</body>
</html>
