<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_Company}
			<a href="#" id="addSearchControl_Company" class="addSearchControl" {$addSearchControl_Company_attrs}>Company</a><br>
		{END addSearch_Company}
		{BEGIN addSearch_Deal_Slot}
			<a href="#" id="addSearchControl_Deal_Slot" class="addSearchControl" {$addSearchControl_Deal_Slot_attrs}>Deal Slot</a><br>
		{END addSearch_Deal_Slot}
		{BEGIN addSearch_IBC_Date}
			<a href="#" id="addSearchControl_IBC_Date" class="addSearchControl" {$addSearchControl_IBC_Date_attrs}>IBC Date</a><br>
		{END addSearch_IBC_Date}
		{BEGIN addSearch_EL_Date}
			<a href="#" id="addSearchControl_EL_Date" class="addSearchControl" {$addSearchControl_EL_Date_attrs}>EL Date</a><br>
		{END addSearch_EL_Date}
		{BEGIN addSearch_Project_Name}
			<a href="#" id="addSearchControl_Project_Name" class="addSearchControl" {$addSearchControl_Project_Name_attrs}>Project Name</a><br>
		{END addSearch_Project_Name}
		{BEGIN addSearch_Status}
			<a href="#" id="addSearchControl_Status" class="addSearchControl" {$addSearchControl_Status_attrs}>Status</a><br>
		{END addSearch_Status}
		{BEGIN addSearch_ID}
			<a href="#" id="addSearchControl_ID" class="addSearchControl" {$addSearchControl_ID_attrs}>ID</a><br>
		{END addSearch_ID}
		{BEGIN addSearch_Deal_Type}
			<a href="#" id="addSearchControl_Deal_Type" class="addSearchControl" {$addSearchControl_Deal_Type_attrs}>Deal Type</a><br>
		{END addSearch_Deal_Type}
		{BEGIN addSearch_Projected_Fee}
			<a href="#" id="addSearchControl_Projected_Fee" class="addSearchControl" {$addSearchControl_Projected_Fee_attrs}>Projected Fee</a><br>
		{END addSearch_Projected_Fee}
		{BEGIN addSearch_Projected_Transaction_Size}
			<a href="#" id="addSearchControl_Projected_Transaction_Size" class="addSearchControl" {$addSearchControl_Projected_Transaction_Size_attrs}>Projected Transaction Size</a><br>
		{END addSearch_Projected_Transaction_Size}
		{BEGIN addSearch_Est__Close_Date}
			<a href="#" id="addSearchControl_Est__Close_Date" class="addSearchControl" {$addSearchControl_Est__Close_Date_attrs}>Est. Close Date</a><br>
		{END addSearch_Est__Close_Date}
		{BEGIN addSearch_Primary_Banker}
			<a href="#" id="addSearchControl_Primary_Banker" class="addSearchControl" {$addSearchControl_Primary_Banker_attrs}>Primary Banker</a><br>
		{END addSearch_Primary_Banker}
		{BEGIN addSearch_Practice_Area}
			<a href="#" id="addSearchControl_Practice_Area" class="addSearchControl" {$addSearchControl_Practice_Area_attrs}>Practice Area</a><br>
		{END addSearch_Practice_Area}
		{BEGIN addSearch_Ownership_Class}
			<a href="#" id="addSearchControl_Ownership_Class" class="addSearchControl" {$addSearchControl_Ownership_Class_attrs}>Ownership Class</a><br>
		{END addSearch_Ownership_Class}
		{BEGIN addSearch_Industry}
			<a href="#" id="addSearchControl_Industry" class="addSearchControl" {$addSearchControl_Industry_attrs}>Industry</a><br>
		{END addSearch_Industry}
		{BEGIN addSearch_Referral_Type}
			<a href="#" id="addSearchControl_Referral_Type" class="addSearchControl" {$addSearchControl_Referral_Type_attrs}>Referral Type</a><br>
		{END addSearch_Referral_Type}
		{BEGIN addSearch_Referral_Source_Company}
			<a href="#" id="addSearchControl_Referral_Source_Company" class="addSearchControl" {$addSearchControl_Referral_Source_Company_attrs}>Referral Source-Company</a><br>
		{END addSearch_Referral_Source_Company}
		{BEGIN addSearch_Referral_Scource_Ind_}
			<a href="#" id="addSearchControl_Referral_Scource_Ind_" class="addSearchControl" {$addSearchControl_Referral_Scource_Ind__attrs}>Referral Scource-Ind.</a><br>
		{END addSearch_Referral_Scource_Ind_}
		{BEGIN addSearch_Description}
			<a href="#" id="addSearchControl_Description" class="addSearchControl" {$addSearchControl_Description_attrs}>Description</a><br>
		{END addSearch_Description}
		{BEGIN addSearch_Dead_Date}
			<a href="#" id="addSearchControl_Dead_Date" class="addSearchControl" {$addSearchControl_Dead_Date_attrs}>Dead Date</a><br>
		{END addSearch_Dead_Date}
		{BEGIN addSearch_EL_Expiration_Date}
			<a href="#" id="addSearchControl_EL_Expiration_Date" class="addSearchControl" {$addSearchControl_EL_Expiration_Date_attrs}>EL Expiration Date</a><br>
		{END addSearch_EL_Expiration_Date}
		{BEGIN addSearch_Engagment_Fee}
			<a href="#" id="addSearchControl_Engagment_Fee" class="addSearchControl" {$addSearchControl_Engagment_Fee_attrs}>Engagment Fee</a><br>
		{END addSearch_Engagment_Fee}
		{BEGIN addSearch_Fee_Minimum}
			<a href="#" id="addSearchControl_Fee_Minimum" class="addSearchControl" {$addSearchControl_Fee_Minimum_attrs}>Fee Minimum</a><br>
		{END addSearch_Fee_Minimum}
		{BEGIN addSearch_Final_Total_Sucess_Fee}
			<a href="#" id="addSearchControl_Final_Total_Sucess_Fee" class="addSearchControl" {$addSearchControl_Final_Total_Sucess_Fee_attrs}>Final Total Sucess Fee</a><br>
		{END addSearch_Final_Total_Sucess_Fee}
		{BEGIN addSearch_Final_Transaction_Size}
			<a href="#" id="addSearchControl_Final_Transaction_Size" class="addSearchControl" {$addSearchControl_Final_Transaction_Size_attrs}>Final Transaction Size</a><br>
		{END addSearch_Final_Transaction_Size}
		{BEGIN addSearch_Monthly_Retainer}
			<a href="#" id="addSearchControl_Monthly_Retainer" class="addSearchControl" {$addSearchControl_Monthly_Retainer_attrs}>Monthly Retainer</a><br>
		{END addSearch_Monthly_Retainer}
		{BEGIN addSearch_Closed_Date}
			<a href="#" id="addSearchControl_Closed_Date" class="addSearchControl" {$addSearchControl_Closed_Date_attrs}>Closed Date</a><br>
		{END addSearch_Closed_Date}
		{BEGIN addSearch_Team_Split_1}
			<a href="#" id="addSearchControl_Team_Split_1" class="addSearchControl" {$addSearchControl_Team_Split_1_attrs}>Team Split-1</a><br>
		{END addSearch_Team_Split_1}
		{BEGIN addSearch_Team_1}
			<a href="#" id="addSearchControl_Team_1" class="addSearchControl" {$addSearchControl_Team_1_attrs}>Team-1</a><br>
		{END addSearch_Team_1}
		{BEGIN addSearch_Team_Split_2}
			<a href="#" id="addSearchControl_Team_Split_2" class="addSearchControl" {$addSearchControl_Team_Split_2_attrs}>Team Split-2</a><br>
		{END addSearch_Team_Split_2}
		{BEGIN addSearch_Team_2}
			<a href="#" id="addSearchControl_Team_2" class="addSearchControl" {$addSearchControl_Team_2_attrs}>Team-2</a><br>
		{END addSearch_Team_2}
		{BEGIN addSearch_Team_Split_3}
			<a href="#" id="addSearchControl_Team_Split_3" class="addSearchControl" {$addSearchControl_Team_Split_3_attrs}>Team Split-3</a><br>
		{END addSearch_Team_Split_3}
		{BEGIN addSearch_Team_Split_4}
			<a href="#" id="addSearchControl_Team_Split_4" class="addSearchControl" {$addSearchControl_Team_Split_4_attrs}>Team Split-4</a><br>
		{END addSearch_Team_Split_4}
		{BEGIN addSearch_Team_Split_5}
			<a href="#" id="addSearchControl_Team_Split_5" class="addSearchControl" {$addSearchControl_Team_Split_5_attrs}>Team Split-5</a><br>
		{END addSearch_Team_Split_5}
		{BEGIN addSearch_Team_Split_6}
			<a href="#" id="addSearchControl_Team_Split_6" class="addSearchControl" {$addSearchControl_Team_Split_6_attrs}>Team Split-6</a><br>
		{END addSearch_Team_Split_6}
		{BEGIN addSearch_Team_3}
			<a href="#" id="addSearchControl_Team_3" class="addSearchControl" {$addSearchControl_Team_3_attrs}>Team-3</a><br>
		{END addSearch_Team_3}
		{BEGIN addSearch_Team_4}
			<a href="#" id="addSearchControl_Team_4" class="addSearchControl" {$addSearchControl_Team_4_attrs}>Team-4</a><br>
		{END addSearch_Team_4}
		{BEGIN addSearch_Team_5}
			<a href="#" id="addSearchControl_Team_5" class="addSearchControl" {$addSearchControl_Team_5_attrs}>Team-5</a><br>
		{END addSearch_Team_5}
		{BEGIN addSearch_Team_6}
			<a href="#" id="addSearchControl_Team_6" class="addSearchControl" {$addSearchControl_Team_6_attrs}>Team-6</a><br>
		{END addSearch_Team_6}
		{BEGIN addSearch_Fee_Split_1}
			<a href="#" id="addSearchControl_Fee_Split_1" class="addSearchControl" {$addSearchControl_Fee_Split_1_attrs}>Fee Split-1</a><br>
		{END addSearch_Fee_Split_1}
		{BEGIN addSearch_Fee_Split_2}
			<a href="#" id="addSearchControl_Fee_Split_2" class="addSearchControl" {$addSearchControl_Fee_Split_2_attrs}>Fee Split-2</a><br>
		{END addSearch_Fee_Split_2}
		{BEGIN addSearch_Fee_Split_3}
			<a href="#" id="addSearchControl_Fee_Split_3" class="addSearchControl" {$addSearchControl_Fee_Split_3_attrs}>Fee Split-3</a><br>
		{END addSearch_Fee_Split_3}
		{BEGIN addSearch_Fee_Split_4}
			<a href="#" id="addSearchControl_Fee_Split_4" class="addSearchControl" {$addSearchControl_Fee_Split_4_attrs}>Fee Split-4</a><br>
		{END addSearch_Fee_Split_4}
		{BEGIN addSearch_Fee_Split_5}
			<a href="#" id="addSearchControl_Fee_Split_5" class="addSearchControl" {$addSearchControl_Fee_Split_5_attrs}>Fee Split-5</a><br>
		{END addSearch_Fee_Split_5}
		{BEGIN addSearch_Fee_Split_6}
			<a href="#" id="addSearchControl_Fee_Split_6" class="addSearchControl" {$addSearchControl_Fee_Split_6_attrs}>Fee Split-6</a><br>
		{END addSearch_Fee_Split_6}
		{BEGIN addSearch_Fee_To_1}
			<a href="#" id="addSearchControl_Fee_To_1" class="addSearchControl" {$addSearchControl_Fee_To_1_attrs}>Fee To-1</a><br>
		{END addSearch_Fee_To_1}
		{BEGIN addSearch_Fee_To_2}
			<a href="#" id="addSearchControl_Fee_To_2" class="addSearchControl" {$addSearchControl_Fee_To_2_attrs}>Fee To-2</a><br>
		{END addSearch_Fee_To_2}
		{BEGIN addSearch_Fee_To_3}
			<a href="#" id="addSearchControl_Fee_To_3" class="addSearchControl" {$addSearchControl_Fee_To_3_attrs}>Fee To-3</a><br>
		{END addSearch_Fee_To_3}
		{BEGIN addSearch_Fee_To_4}
			<a href="#" id="addSearchControl_Fee_To_4" class="addSearchControl" {$addSearchControl_Fee_To_4_attrs}>Fee To-4</a><br>
		{END addSearch_Fee_To_4}
		{BEGIN addSearch_Fee_To_5}
			<a href="#" id="addSearchControl_Fee_To_5" class="addSearchControl" {$addSearchControl_Fee_To_5_attrs}>Fee To-5</a><br>
		{END addSearch_Fee_To_5}
		{BEGIN addSearch_Fee_To_6}
			<a href="#" id="addSearchControl_Fee_To_6" class="addSearchControl" {$addSearchControl_Fee_To_6_attrs}>Fee To-6</a><br>
		{END addSearch_Fee_To_6}
		{BEGIN addSearch_Enterpise_Value}
			<a href="#" id="addSearchControl_Enterpise_Value" class="addSearchControl" {$addSearchControl_Enterpise_Value_attrs}>Enterpise Value</a><br>
		{END addSearch_Enterpise_Value}
		{BEGIN addSearch_Fee_Details}
			<a href="#" id="addSearchControl_Fee_Details" class="addSearchControl" {$addSearchControl_Fee_Details_attrs}>Fee Details</a><br>
		{END addSearch_Fee_Details}
		{BEGIN addSearch_Split_to_Corporate}
			<a href="#" id="addSearchControl_Split_to_Corporate" class="addSearchControl" {$addSearchControl_Split_to_Corporate_attrs}>Split to Corporate</a><br>
		{END addSearch_Split_to_Corporate}
		{BEGIN addSearch_Paul}
			<a href="#" id="addSearchControl_Paul" class="addSearchControl" {$addSearchControl_Paul_attrs}>Paul</a><br>
		{END addSearch_Paul}
		{BEGIN addSearch_McBroom}
			<a href="#" id="addSearchControl_McBroom" class="addSearchControl" {$addSearchControl_McBroom_attrs}>Mc Broom</a><br>
		{END addSearch_McBroom}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
