<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ID">
	{$ID_editcontrol}
	</control>
	<control 
	field="Company">
	{$Company_editcontrol}
	</control>
	<control 
	field="EL_Date">
	{$EL_Date_editcontrol}
	</control>
	<control 
	field="IBC_Date">
	{$IBC_Date_editcontrol}
	</control>
	<control 
	field="Est__Close_Date">
	{$Est__Close_Date_editcontrol}
	</control>
	<control 
	field="Project_Name">
	{$Project_Name_editcontrol}
	</control>
	<control 
	field="EL_Expiration_Date">
	{$EL_Expiration_Date_editcontrol}
	</control>
	<control 
	field="Status">
	{$Status_editcontrol}
	</control>
	<control 
	field="Deal_Type">
	{$Deal_Type_editcontrol}
	</control>
	<control 
	field="Deal_Slot">
	{$Deal_Slot_editcontrol}
	</control>
	<control 
	field="Closed_Date">
	{$Closed_Date_editcontrol}
	</control>
	<control 
	field="Dead_Date">
	{$Dead_Date_editcontrol}
	</control>
	<control 
	field="Primary_Banker">
	{$Primary_Banker_editcontrol}
	</control>
	<control 
	field="Practice_Area">
	{$Practice_Area_editcontrol}
	</control>
	<control 
	field="Industry">
	{$Industry_editcontrol}
	</control>
	<control 
	field="Projected_Transaction_Size">
	{$Projected_Transaction_Size_editcontrol}
	</control>
	<control 
	field="Enterpise_Value">
	{$Enterpise_Value_editcontrol}
	</control>
	<control 
	field="Final_Transaction_Size">
	{$Final_Transaction_Size_editcontrol}
	</control>
	<control 
	field="Projected_Fee">
	{$Projected_Fee_editcontrol}
	</control>
	<control 
	field="Fee_Minimum">
	{$Fee_Minimum_editcontrol}
	</control>
	<control 
	field="Engagment_Fee">
	{$Engagment_Fee_editcontrol}
	</control>
	<control 
	field="Fee_Details">
	{$Fee_Details_editcontrol}
	</control>
	<control 
	field="Split_to_Corporate">
	{$Split_to_Corporate_editcontrol}
	</control>
	<control 
	field="Monthly_Retainer">
	{$Monthly_Retainer_editcontrol}
	</control>
	<control 
	field="Final_Total_Sucess_Fee">
	{$Final_Total_Sucess_Fee_editcontrol}
	</control>
	<control 
	field="Ownership_Class">
	{$Ownership_Class_editcontrol}
	</control>
	<control 
	field="Referral_Type">
	{$Referral_Type_editcontrol}
	</control>
	<control 
	field="Referral_Source_Company">
	{$Referral_Source_Company_editcontrol}
	</control>
	<control 
	field="Referral_Scource_Ind_">
	{$Referral_Scource_Ind__editcontrol}
	</control>
	<control 
	field="Description">
	{$Description_editcontrol}
	</control>
	<control 
	field="Team_Split_1">
	{$Team_Split_1_editcontrol}
	</control>
	<control 
	field="Team_1">
	{$Team_1_editcontrol}
	</control>
	<control 
	field="Team_Split_2">
	{$Team_Split_2_editcontrol}
	</control>
	<control 
	field="Team_2">
	{$Team_2_editcontrol}
	</control>
	<control 
	field="Team_Split_3">
	{$Team_Split_3_editcontrol}
	</control>
	<control 
	field="Team_3">
	{$Team_3_editcontrol}
	</control>
	<control 
	field="Team_Split_4">
	{$Team_Split_4_editcontrol}
	</control>
	<control 
	field="Team_4">
	{$Team_4_editcontrol}
	</control>
	<control 
	field="Team_Split_5">
	{$Team_Split_5_editcontrol}
	</control>
	<control 
	field="Team_5">
	{$Team_5_editcontrol}
	</control>
	<control 
	field="Team_Split_6">
	{$Team_Split_6_editcontrol}
	</control>
	<control 
	field="Team_6">
	{$Team_6_editcontrol}
	</control>
	<control 
	field="Fee_Split_1">
	{$Fee_Split_1_editcontrol}
	</control>
	<control 
	field="Fee_To_1">
	{$Fee_To_1_editcontrol}
	</control>
	<control 
	field="Fee_Split_2">
	{$Fee_Split_2_editcontrol}
	</control>
	<control 
	field="Fee_To_2">
	{$Fee_To_2_editcontrol}
	</control>
	<control 
	field="Fee_Split_3">
	{$Fee_Split_3_editcontrol}
	</control>
	<control 
	field="Fee_To_3">
	{$Fee_To_3_editcontrol}
	</control>
	<control 
	field="Fee_Split_4">
	{$Fee_Split_4_editcontrol}
	</control>
	<control 
	field="Fee_To_4">
	{$Fee_To_4_editcontrol}
	</control>
	<control 
	field="Fee_Split_5">
	{$Fee_Split_5_editcontrol}
	</control>
	<control 
	field="Fee_To_5">
	{$Fee_To_5_editcontrol}
	</control>
	<control 
	field="Fee_Split_6">
	{$Fee_Split_6_editcontrol}
	</control>
	<control 
	field="Fee_To_6">
	{$Fee_To_6_editcontrol}
	</control>
	<control 
	field="Paul">
	{$Paul_editcontrol}
	</control>
	<control 
	field="McBroom">
	{$McBroom_editcontrol}
	</control>
	<control 
	field="Pipeline">
	{$Pipeline_editcontrol}
	</control>
	<control 
	field="Month_of_Close">
	{$Month_of_Close_editcontrol}
	</control>
	<control 
	field="Gross_This">
	{$Gross_This_editcontrol}
	</control>
	<control 
	field="Gross_Next">
	{$Gross_Next_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
