<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b><span dir="LTR">Company: [{$showKeys}]</span></b>
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-mastergrid runner-b-masterprintfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">ID</th>
			<th class="runner-cc ">Company</th>
			<th class="runner-cc ">EL Date</th>
			<th class="runner-cc ">IBC Date</th>
			<th class="runner-cc ">Est. Close Date</th>
			<th class="runner-cc ">Project Name</th>
			<th class="runner-cc ">EL Expiration Date</th>
			<th class="runner-cc ">Status</th>
			<th class="runner-cc ">Deal Type</th>
			<th class="runner-cc ">Deal Slot</th>
			<th class="runner-cc ">Closed Date</th>
			<th class="runner-cc ">Dead Date</th>
			<th class="runner-cc ">Primary Banker</th>
			<th class="runner-cc ">Practice Area</th>
			<th class="runner-cc ">Industry</th>
			<th class="runner-cc ">Projected Transaction Size</th>
			<th class="runner-cc ">Enterpise Value</th>
			<th class="runner-cc ">Final Transaction Size</th>
			<th class="runner-cc ">Projected Fee</th>
			<th class="runner-cc ">Fee Minimum</th>
			<th class="runner-cc ">Engagment Fee</th>
			<th class="runner-cc ">Fee Details</th>
			<th class="runner-cc ">Split to Corporate</th>
			<th class="runner-cc ">Monthly Retainer</th>
			<th class="runner-cc ">Final Total Sucess Fee</th>
			<th class="runner-cc ">Ownership Class</th>
			<th class="runner-cc ">Referral Type</th>
			<th class="runner-cc ">Referral Source-Company</th>
			<th class="runner-cc ">Referral Scource-Ind.</th>
			<th class="runner-cc ">Description</th>
			<th class="runner-cc ">Team Split-1</th>
			<th class="runner-cc ">Team-1</th>
			<th class="runner-cc ">Team Split-2</th>
			<th class="runner-cc ">Team-2</th>
			<th class="runner-cc ">Team Split-3</th>
			<th class="runner-cc ">Team-3</th>
			<th class="runner-cc ">Team Split-4</th>
			<th class="runner-cc ">Team-4</th>
			<th class="runner-cc ">Team Split-5</th>
			<th class="runner-cc ">Team-5</th>
			<th class="runner-cc ">Team Split-6</th>
			<th class="runner-cc ">Team-6</th>
			<th class="runner-cc ">Fee Split-1</th>
			<th class="runner-cc ">Fee To-1</th>
			<th class="runner-cc ">Fee Split-2</th>
			<th class="runner-cc ">Fee To-2</th>
			<th class="runner-cc ">Fee Split-3</th>
			<th class="runner-cc ">Fee To-3</th>
			<th class="runner-cc ">Fee Split-4</th>
			<th class="runner-cc ">Fee To-4</th>
			<th class="runner-cc ">Fee Split-5</th>
			<th class="runner-cc ">Fee To-5</th>
			<th class="runner-cc ">Fee Split-6</th>
			<th class="runner-cc ">Fee To-6</th>
			<th class="runner-cc ">Paul</th>
			<th class="runner-cc ">Mc Broom</th>
			<th class="runner-cc ">Pipeline</th>
			<th class="runner-cc ">Month of Close</th>
			<th class="runner-cc ">Gross This</th>
			<th class="runner-cc runner-clast">Gross Next</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$ID_mastervalue}</td>
			<td class="runner-cc ">{$Company_mastervalue}</td>
			<td class="runner-cc ">{$EL_Date_mastervalue}</td>
			<td class="runner-cc ">{$IBC_Date_mastervalue}</td>
			<td class="runner-cc ">{$Est__Close_Date_mastervalue}</td>
			<td class="runner-cc ">{$Project_Name_mastervalue}</td>
			<td class="runner-cc ">{$EL_Expiration_Date_mastervalue}</td>
			<td class="runner-cc ">{$Status_mastervalue}</td>
			<td class="runner-cc ">{$Deal_Type_mastervalue}</td>
			<td class="runner-cc ">{$Deal_Slot_mastervalue}</td>
			<td class="runner-cc ">{$Closed_Date_mastervalue}</td>
			<td class="runner-cc ">{$Dead_Date_mastervalue}</td>
			<td class="runner-cc ">{$Primary_Banker_mastervalue}</td>
			<td class="runner-cc ">{$Practice_Area_mastervalue}</td>
			<td class="runner-cc ">{$Industry_mastervalue}</td>
			<td class="runner-cc ">{$Projected_Transaction_Size_mastervalue}</td>
			<td class="runner-cc ">{$Enterpise_Value_mastervalue}</td>
			<td class="runner-cc ">{$Final_Transaction_Size_mastervalue}</td>
			<td class="runner-cc ">{$Projected_Fee_mastervalue}</td>
			<td class="runner-cc ">{$Fee_Minimum_mastervalue}</td>
			<td class="runner-cc ">{$Engagment_Fee_mastervalue}</td>
			<td class="runner-cc ">{$Fee_Details_mastervalue}</td>
			<td class="runner-cc ">{$Split_to_Corporate_mastervalue}</td>
			<td class="runner-cc ">{$Monthly_Retainer_mastervalue}</td>
			<td class="runner-cc ">{$Final_Total_Sucess_Fee_mastervalue}</td>
			<td class="runner-cc ">{$Ownership_Class_mastervalue}</td>
			<td class="runner-cc ">{$Referral_Type_mastervalue}</td>
			<td class="runner-cc ">{$Referral_Source_Company_mastervalue}</td>
			<td class="runner-cc ">{$Referral_Scource_Ind__mastervalue}</td>
			<td class="runner-cc ">{$Description_mastervalue}</td>
			<td class="runner-cc ">{$Team_Split_1_mastervalue}</td>
			<td class="runner-cc ">{$Team_1_mastervalue}</td>
			<td class="runner-cc ">{$Team_Split_2_mastervalue}</td>
			<td class="runner-cc ">{$Team_2_mastervalue}</td>
			<td class="runner-cc ">{$Team_Split_3_mastervalue}</td>
			<td class="runner-cc ">{$Team_3_mastervalue}</td>
			<td class="runner-cc ">{$Team_Split_4_mastervalue}</td>
			<td class="runner-cc ">{$Team_4_mastervalue}</td>
			<td class="runner-cc ">{$Team_Split_5_mastervalue}</td>
			<td class="runner-cc ">{$Team_5_mastervalue}</td>
			<td class="runner-cc ">{$Team_Split_6_mastervalue}</td>
			<td class="runner-cc ">{$Team_6_mastervalue}</td>
			<td class="runner-cc ">{$Fee_Split_1_mastervalue}</td>
			<td class="runner-cc ">{$Fee_To_1_mastervalue}</td>
			<td class="runner-cc ">{$Fee_Split_2_mastervalue}</td>
			<td class="runner-cc ">{$Fee_To_2_mastervalue}</td>
			<td class="runner-cc ">{$Fee_Split_3_mastervalue}</td>
			<td class="runner-cc ">{$Fee_To_3_mastervalue}</td>
			<td class="runner-cc ">{$Fee_Split_4_mastervalue}</td>
			<td class="runner-cc ">{$Fee_To_4_mastervalue}</td>
			<td class="runner-cc ">{$Fee_Split_5_mastervalue}</td>
			<td class="runner-cc ">{$Fee_To_5_mastervalue}</td>
			<td class="runner-cc ">{$Fee_Split_6_mastervalue}</td>
			<td class="runner-cc ">{$Fee_To_6_mastervalue}</td>
			<td class="runner-cc ">{$Paul_mastervalue}</td>
			<td class="runner-cc ">{$McBroom_mastervalue}</td>
			<td class="runner-cc ">{$Pipeline_mastervalue}</td>
			<td class="runner-cc ">{$Month_of_Close_mastervalue}</td>
			<td class="runner-cc ">{$Gross_This_mastervalue}</td>
			<td class="runner-cc runner-clast">{$Gross_Next_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

</div>