<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Ellive</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN ID_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ID_fieldheader}
	<b>ID</b>
	{END ID_fieldheader}
</th>
{END ID_fieldheadercolumn}
	{BEGIN Jan_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Jan_fieldheader}
	<b>Jan</b>
	{END Jan_fieldheader}
</th>
{END Jan_fieldheadercolumn}
	{BEGIN Feb_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Feb_fieldheader}
	<b>Feb</b>
	{END Feb_fieldheader}
</th>
{END Feb_fieldheadercolumn}
	{BEGIN Mar_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Mar_fieldheader}
	<b>Mar</b>
	{END Mar_fieldheader}
</th>
{END Mar_fieldheadercolumn}
	{BEGIN April_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN April_fieldheader}
	<b>April</b>
	{END April_fieldheader}
</th>
{END April_fieldheadercolumn}
	{BEGIN May_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN May_fieldheader}
	<b>May</b>
	{END May_fieldheader}
</th>
{END May_fieldheadercolumn}
	{BEGIN June_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN June_fieldheader}
	<b>June</b>
	{END June_fieldheader}
</th>
{END June_fieldheadercolumn}
	{BEGIN July_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN July_fieldheader}
	<b>July</b>
	{END July_fieldheader}
</th>
{END July_fieldheadercolumn}
	{BEGIN Aug_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Aug_fieldheader}
	<b>Aug</b>
	{END Aug_fieldheader}
</th>
{END Aug_fieldheadercolumn}
	{BEGIN Sep_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Sep_fieldheader}
	<b>Sep</b>
	{END Sep_fieldheader}
</th>
{END Sep_fieldheadercolumn}
	{BEGIN Oct_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Oct_fieldheader}
	<b>Oct</b>
	{END Oct_fieldheader}
</th>
{END Oct_fieldheadercolumn}
	{BEGIN Nov_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Nov_fieldheader}
	<b>Nov</b>
	{END Nov_fieldheader}
</th>
{END Nov_fieldheadercolumn}
	{BEGIN Dec_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Dec_fieldheader}
	<b>Dec</b>
	{END Dec_fieldheader}
</th>
{END Dec_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN ID_fieldcolumn}
<td  class="runner-cc {$ID_class}" {$ID_style}>
	{$ID_value}
</td>
{END ID_fieldcolumn}
	{BEGIN Jan_fieldcolumn}
<td  class="runner-cc {$Jan_class}" {$Jan_style}>
	{$Jan_value}
</td>
{END Jan_fieldcolumn}
	{BEGIN Feb_fieldcolumn}
<td  class="runner-cc {$Feb_class}" {$Feb_style}>
	{$Feb_value}
</td>
{END Feb_fieldcolumn}
	{BEGIN Mar_fieldcolumn}
<td  class="runner-cc {$Mar_class}" {$Mar_style}>
	{$Mar_value}
</td>
{END Mar_fieldcolumn}
	{BEGIN April_fieldcolumn}
<td  class="runner-cc {$April_class}" {$April_style}>
	{$April_value}
</td>
{END April_fieldcolumn}
	{BEGIN May_fieldcolumn}
<td  class="runner-cc {$May_class}" {$May_style}>
	{$May_value}
</td>
{END May_fieldcolumn}
	{BEGIN June_fieldcolumn}
<td  class="runner-cc {$June_class}" {$June_style}>
	{$June_value}
</td>
{END June_fieldcolumn}
	{BEGIN July_fieldcolumn}
<td  class="runner-cc {$July_class}" {$July_style}>
	{$July_value}
</td>
{END July_fieldcolumn}
	{BEGIN Aug_fieldcolumn}
<td  class="runner-cc {$Aug_class}" {$Aug_style}>
	{$Aug_value}
</td>
{END Aug_fieldcolumn}
	{BEGIN Sep_fieldcolumn}
<td  class="runner-cc {$Sep_class}" {$Sep_style}>
	{$Sep_value}
</td>
{END Sep_fieldcolumn}
	{BEGIN Oct_fieldcolumn}
<td  class="runner-cc {$Oct_class}" {$Oct_style}>
	{$Oct_value}
</td>
{END Oct_fieldcolumn}
	{BEGIN Nov_fieldcolumn}
<td  class="runner-cc {$Nov_class}" {$Nov_style}>
	{$Nov_value}
</td>
{END Nov_fieldcolumn}
	{BEGIN Dec_fieldcolumn}
<td  class="runner-cc {$Dec_class}" {$Dec_style}>
	{$Dec_value}
</td>
{END Dec_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN ID_fieldfootercolumn}
<td class="runner-cc "></td>
{END ID_fieldfootercolumn}
{BEGIN Jan_fieldfootercolumn}
<td class="runner-cc "></td>
{END Jan_fieldfootercolumn}
{BEGIN Feb_fieldfootercolumn}
<td class="runner-cc "></td>
{END Feb_fieldfootercolumn}
{BEGIN Mar_fieldfootercolumn}
<td class="runner-cc "></td>
{END Mar_fieldfootercolumn}
{BEGIN April_fieldfootercolumn}
<td class="runner-cc "></td>
{END April_fieldfootercolumn}
{BEGIN May_fieldfootercolumn}
<td class="runner-cc "></td>
{END May_fieldfootercolumn}
{BEGIN June_fieldfootercolumn}
<td class="runner-cc "></td>
{END June_fieldfootercolumn}
{BEGIN July_fieldfootercolumn}
<td class="runner-cc "></td>
{END July_fieldfootercolumn}
{BEGIN Aug_fieldfootercolumn}
<td class="runner-cc "></td>
{END Aug_fieldfootercolumn}
{BEGIN Sep_fieldfootercolumn}
<td class="runner-cc "></td>
{END Sep_fieldfootercolumn}
{BEGIN Oct_fieldfootercolumn}
<td class="runner-cc "></td>
{END Oct_fieldfootercolumn}
{BEGIN Nov_fieldfootercolumn}
<td class="runner-cc "></td>
{END Nov_fieldfootercolumn}
{BEGIN Dec_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END Dec_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
