<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Ellive, View record [
ID: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN ID_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_ID {$fielddispclass_ID}">
			<b>ID</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_ID {$fielddispclass_ID}">
			{$ID_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END ID_fieldblock}
	{BEGIN Jan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Jan {$fielddispclass_Jan}">
			<b>Jan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Jan {$fielddispclass_Jan}">
			{$Jan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Jan_fieldblock}
	{BEGIN Feb_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Feb {$fielddispclass_Feb}">
			<b>Feb</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Feb {$fielddispclass_Feb}">
			{$Feb_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Feb_fieldblock}
	{BEGIN Mar_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Mar {$fielddispclass_Mar}">
			<b>Mar</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Mar {$fielddispclass_Mar}">
			{$Mar_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Mar_fieldblock}
	{BEGIN April_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_April {$fielddispclass_April}">
			<b>April</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_April {$fielddispclass_April}">
			{$April_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END April_fieldblock}
	{BEGIN May_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_May {$fielddispclass_May}">
			<b>May</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_May {$fielddispclass_May}">
			{$May_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END May_fieldblock}
	{BEGIN June_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_June {$fielddispclass_June}">
			<b>June</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_June {$fielddispclass_June}">
			{$June_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END June_fieldblock}
	{BEGIN July_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_July {$fielddispclass_July}">
			<b>July</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_July {$fielddispclass_July}">
			{$July_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END July_fieldblock}
	{BEGIN Aug_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Aug {$fielddispclass_Aug}">
			<b>Aug</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Aug {$fielddispclass_Aug}">
			{$Aug_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Aug_fieldblock}
	{BEGIN Sep_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Sep {$fielddispclass_Sep}">
			<b>Sep</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Sep {$fielddispclass_Sep}">
			{$Sep_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Sep_fieldblock}
	{BEGIN Oct_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Oct {$fielddispclass_Oct}">
			<b>Oct</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Oct {$fielddispclass_Oct}">
			{$Oct_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Oct_fieldblock}
	{BEGIN Nov_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Nov {$fielddispclass_Nov}">
			<b>Nov</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Nov {$fielddispclass_Nov}">
			{$Nov_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Nov_fieldblock}
	{BEGIN Dec_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Dec {$fielddispclass_Dec}">
			<b>Dec</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Dec {$fielddispclass_Dec}">
			{$Dec_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Dec_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
