<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Jan">
	{$Jan_editcontrol}
	</control>
	<control 
	field="Feb">
	{$Feb_editcontrol}
	</control>
	<control 
	field="Mar">
	{$Mar_editcontrol}
	</control>
	<control 
	field="April">
	{$April_editcontrol}
	</control>
	<control 
	field="May">
	{$May_editcontrol}
	</control>
	<control 
	field="June">
	{$June_editcontrol}
	</control>
	<control 
	field="July">
	{$July_editcontrol}
	</control>
	<control 
	field="Aug">
	{$Aug_editcontrol}
	</control>
	<control 
	field="Sep">
	{$Sep_editcontrol}
	</control>
	<control 
	field="Oct">
	{$Oct_editcontrol}
	</control>
	<control 
	field="Nov">
	{$Nov_editcontrol}
	</control>
	<control 
	field="Dec">
	{$Dec_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
