<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_add}
<table class="runner-c runner-c-add" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-addheader {$brickclass_addheader}">Inmarketloi, Add new record</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN message_block}
<tr  class="runner-row style1 runner-b-message {$brickclass_message}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><div class="runner-message">{$message}</div></td><td class="runner-cr"></td></tr>{END message_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >
<tr class="{$cheaderclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>


	{BEGIN Jan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Jan {$fielddispclass_Jan}">
			{BEGIN Jan_label}Jan{END Jan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_Jan {$fielddispclass_Jan}">
			{$Jan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Jan_fieldblock}
	{BEGIN Feb_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Feb {$fielddispclass_Feb}">
			{BEGIN Feb_label}Feb{END Feb_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_Feb {$fielddispclass_Feb}">
			{$Feb_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Feb_fieldblock}
	{BEGIN Mar_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Mar {$fielddispclass_Mar}">
			{BEGIN Mar_label}Mar{END Mar_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_Mar {$fielddispclass_Mar}">
			{$Mar_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Mar_fieldblock}
	{BEGIN April_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_April {$fielddispclass_April}">
			{BEGIN April_label}April{END April_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_April {$fielddispclass_April}">
			{$April_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END April_fieldblock}
	{BEGIN May_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_May {$fielddispclass_May}">
			{BEGIN May_label}May{END May_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_May {$fielddispclass_May}">
			{$May_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END May_fieldblock}
	{BEGIN June_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_June {$fielddispclass_June}">
			{BEGIN June_label}June{END June_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_June {$fielddispclass_June}">
			{$June_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END June_fieldblock}
	{BEGIN July_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_July {$fielddispclass_July}">
			{BEGIN July_label}July{END July_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_July {$fielddispclass_July}">
			{$July_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END July_fieldblock}
	{BEGIN Aug_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Aug {$fielddispclass_Aug}">
			{BEGIN Aug_label}Aug{END Aug_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_Aug {$fielddispclass_Aug}">
			{$Aug_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Aug_fieldblock}
	{BEGIN Sep_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Sep {$fielddispclass_Sep}">
			{BEGIN Sep_label}Sep{END Sep_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_Sep {$fielddispclass_Sep}">
			{$Sep_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Sep_fieldblock}
	{BEGIN Oct_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Oct {$fielddispclass_Oct}">
			{BEGIN Oct_label}Oct{END Oct_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_Oct {$fielddispclass_Oct}">
			{$Oct_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Oct_fieldblock}
	{BEGIN Nov_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Nov {$fielddispclass_Nov}">
			{BEGIN Nov_label}Nov{END Nov_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_Nov {$fielddispclass_Nov}">
			{$Nov_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Nov_fieldblock}
	{BEGIN Dec_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Dec {$fielddispclass_Dec}">
			{BEGIN Dec_label}Dec{END Dec_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_Dec {$fielddispclass_Dec}">
			{$Dec_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Dec_fieldblock}



{BEGIN legend}
<tr  class="runner-row style3 runner-b-legend {$brickclass_legend}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2><span id="required_block{$id}">
<img src="images/icon_required.gif" alt="bullet"> - Required field
</span>
</td><td class="runner-cr"></td></tr>{END legend}



<tr  class="runner-row style2 runner-b-addbuttons {$brickclass_addbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN save_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$savebutton_attrs}>Save</a>
</span>
{END save_button}
{BEGIN cancel_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$cancelbutton_attrs}>Cancel</a>
</span>
{END cancel_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN backToMenu_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backToMenubutton_attrs}>Back to menu</a>
</span>
{END backToMenu_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_add}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_add}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
