<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ID">
	{$ID_editcontrol}
	</control>
	<control 
	field="CClient">
	{$CClient_editcontrol}
	</control>
	<control 
	field="CDealtype">
	{$CDealtype_editcontrol}
	</control>
	<control 
	field="CAmount">
	{$CAmount_editcontrol}
	</control>
	<control 
	field="CSlot">
	{$CSlot_editcontrol}
	</control>
	<control 
	field="DClient">
	{$DClient_editcontrol}
	</control>
	<control 
	field="DDealtype">
	{$DDealtype_editcontrol}
	</control>
	<control 
	field="DAmount">
	{$DAmount_editcontrol}
	</control>
	<control 
	field="DSlot">
	{$DSlot_editcontrol}
	</control>
	<control 
	field="ELClient">
	{$ELClient_editcontrol}
	</control>
	<control 
	field="ELDealType">
	{$ELDealType_editcontrol}
	</control>
	<control 
	field="ELAmount">
	{$ELAmount_editcontrol}
	</control>
	<control 
	field="ELSlot">
	{$ELSlot_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
